#navbar h1 {
  color: pink;
  text-align: left;
  max-height: 10vh;
  padding-left: 2vw
}

#navbar {
  overflow: hidden;
  background-color: #333;
  min-height: 14vh;
}

#navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement
(as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 20px;
}

.float_left {
    float: left!important;
}

.float_right {
    float: right!important;
}

.half_width {
    width: 48%;
}

.spa_form_field {
    font-size: 16px;
    display: block;
    margin-bottom: 20px;
    height: 40px;
    border: 1px solid #bbbbbb;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 10px;
    color: #4c4c4c;
    margin-left: 4vw
}

.form_label {
    color: #333;
    font-size: 14px;
    -webkit-margin-after: 5px;
    display: block;
    margin-left: 4vw
}

.submit_button {
    margin-left: 4vw
    }

body
{
  background-image: url("https://media.istockphoto.com/photos/crepes-picture-id153710716?k=6&m=153710716&s=612x612&w=0&h=9GZVYvwE1WMRq1NseYthOSFJtmFkpW3ClLbEqd5bBDc=");
  height: 100%;
  font-family: Georgia;
}

body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("https://media.istockphoto.com/photos/crepes-picture-id153710716?k=6&m=153710716&s=612x612&w=0&h=9GZVYvwE1WMRq1NseYthOSFJtmFkpW3ClLbEqd5bBDc=");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div{
  min-height: 10vh;
  Width:100vw;
}

h1,h2 {
  text-align: center;
  font-family: Georgia;
  font-style: italic;
}

h1{
  font-size:4.5em;
  text-align: center;
  font-family: Georgia;
}
h2{
  font-size: 2em;
}
img{width: 100%
    }

.container {
      position: relative;
      text-align: center;
    }

p{
  text-align: left;
  width:90%;
  margin-left: 80px;
  font-size: 1em
}

div.names {
  margin-left: 80px;
  font-size: 2em;
  font-family: Georgia;
  font-style: italic;
  margin-bottom: 20px;
}

div.text {
  margin-left: 70px;
  margin-top: 0px;
}

a{
  color: rgb(0,0,0)
}

#crazy{
  margin: 0 20px;
  transition:0.6s ease;
}

#crazy:hover{
  font-size: 1.2em;
  transition: 0.6s ease;
}
