#navbar h1 {
  color: pink;
  text-align: right;
  max-height: 10vh;
  padding-right: 5vw
}

#navbar {
  overflow: hidden;
  background-color: #333;
  min-height: 14vh;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement
(as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 20px;
}

.float_left {
    float: left!important;
}

.float_right {
    float: right!important;
}

.half_width {
    width: 48%;
}

.spa_form_field {
    font-size: 16px;
    display: block;
    margin-bottom: 20px;
    height: 40px;
    border: 1px solid #bbbbbb;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 10px;
    color: #4c4c4c;
    margin-left: 4vw
}

.form_label {
    color: #333;
    font-size: 14px;
    -webkit-margin-after: 5px;
    display: block;
    margin-left: 4vw
}

.submit_button {
    margin-left: 4vw
    }

body
{
  color:rgb(49,58,69);
}

div{
  min-height: 50vh;
  Width:100vw;
  background-color: pink;
}

h1,h2 {
  text-align: center;
  font-family: cursive;
}

h1{
  font-size:4.5em;
  text-align: center;
  font-family: Verdana;
}
h2{
  font-size: 2em;
}
img{width: 100%
    }

.container {
      position: relative;
      text-align: center;
      color: white;
    }

p{
  text-align: center;
  width:90%;
  margin: 0;
  font-size: 1em
}

a{
  color: rgb(0,0,0)
}

#crazy{
  margin: 0 20px;
  transition:0.6s ease;
}

#crazy:hover{
  font-size: 1.2em;
  transition: 0.6s ease;
}
